{% load static %}

<!-- service features start -->
<section class="service-policy-area">
    <div class="container">
        <div class="row">
            <!-- single policy item start -->
            <div class="col-lg-4">
                <div class="service-policy-item mt-30 bg-1">
                    <div class="policy-icon">
                        <img src="{% static '/img/icon/policy-1.png' %}" alt="policy icon">
                    </div>
                    <div class="policy-content">
                        <h5 class="policy-title">ДОСТАВКА</h5>
                        <p class="policy-desc">Доставляем в любую точку России</p>
                    </div>
                </div>
            </div>
            <!-- single policy item start -->

            <!-- single policy item start -->
            <div class="col-lg-4">
                <div class="service-policy-item mt-30 bg-3">
                    <div class="policy-icon">
                        <img src="{% static '/img/icon/policy-2.png' %}" alt="policy icon">
                    </div>
                    <div class="policy-content">
                        <h5 class="policy-title">ПРОИЗВОДСТВО</h5>
                        <p class="policy-desc">Собственное постоянное производство</p>
                    </div>
                </div>
            </div>
            <!-- single policy item start -->

            <!-- single policy item start -->
            <div class="col-lg-4">
                <div class="service-policy-item mt-30 bg-chz">
                    <div class="policy-icon">
                        <img src="{% static '/img/icon/policy-3.png' %}" alt="policy icon">
                    </div>
                    <div class="policy-content">
                        <h5 class="policy-title">ЧЕСТНЫЙ ЗНАК</h5>
                        <p class="policy-desc">Оффициальный участник системы маркировки</p>
                    </div>
                </div>
            </div>
            <!-- single policy item start -->
        </div>
    </div>
</section>
<!-- service features end -->