{% load static %}
<!-- Header Top Start -->
<!-- <div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 d-center">
                <div class="header-top-left">
                    <img src="{% static '/img/icon/call.png' %}" alt="">Звоните : +7 (495) 555-33-11
                </div>
            </div>

            <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                <div class="search-box-view">
                    <form action="#">
                        <input type="text" class="email" placeholder="Search Your Product" name="product">
                        <button type="submit" class="submit"></button>
                    </form>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="header-top-right">
                    <ul class="header-list-menu f-right">

                        <li><a href="#">Language: English <i class="fa fa-angle-down"></i></a>
                            <ul class="ht-dropdown">
                                <li><a href="#">Spanish</a></li>
                                <li><a href="#">Bengali</a></li>
                                <li><a href="#">Russian</a></li>
                            </ul>
                        </li>

                        <li><a href="#">Currency:  USD <i class="fa fa-angle-down"></i></a>
                            <ul class="ht-dropdown">
                                <li><a href="#">USD</a></li>
                                <li><a href="#">GBP</a></li>
                                <li><a href="#">EUR</a></li>
                            </ul>
                        </li>

                    </ul>

                </div>
            </div>

        </div>
    </div>

</div> -->
<!-- Header Top End -->